/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-image: url("https://cdn.glitch.com/56cf099d-e0e8-48ac-8400-14cd70ecef3c%2Fbttanos.webp?v=1573145255507") !important;
}

h1 {
  font-style: italic;
  color: #373fff;
}
.Betthanos {
  position: Absolute;
  top: 200px;
  left: 400px;
}
#HAHA {
  position: relative;
  top: 650px;
  left: 300px;
  font-size: 40px;
  color: blue;
}
#HAHA:hover {
	color: #ff0000;
}
